.destinations .item header {
  display: block;
  width: 312px;
  background-color: transparent;
  position: static;
  padding: 0;
  margin: 0 auto;
}

.destinations .item header h4 {
  margin: 24px 0;
}

.destinations .item header p {
  line-height: 1.6;
  margin-bottom: 24px;
}

.destinations .img-item {
  width: 100%;
  height: 360px;
}

.tokyo {
  background: url(../img/tokyo-mobile.jpg) no-repeat;
  background-size: cover;
}

.osaka {
  background: url(../img/osaka-mobile.jpg) no-repeat;
  background-size: cover;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .destinations .item header {
    width: 648px;
  }

  .destinations .img-item {
    height: 452px;
  }

  .tokyo {
    background: url(../img/tokyo-tablet-desk.jpg) no-repeat;
    background-size: cover;
  }

  .osaka {
    background: url(../img/osaka-tablet-desk.jpg) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px){
  .destinations .item header{
    width: 864px;
  }
}

@media screen and (min-width: 1440px) {
  .destination-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  .destinations .item header{
    display: flex;
    flex-direction: column;
    width: 588px;
    height: 750px;
  }

  .destinations .img-item {
    height: 452px;
    margin-top: 0;
  }
}
