.payments .image-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    height: 460px;
    margin-top: 24px;
}

.payments .image-gallery .image.first{
    background: url(../img/gallery1-mobile.png) no-repeat;
    background-size: cover;
}

.payments .image-gallery .image.second{
    background: url(../img/gallery2-mobile.png) no-repeat;
    background-size: cover;
}

.payments .image-gallery .image.thirt{
    background: url(../img/gallery3-mobile.png);
    background-size: cover;
}

.payments .image-gallery .image.colspan-2{
    grid-column: span 2;
}