@font-face{
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-style: normal;
    font-display: swap;
}

:root{
    --primary-color: #8F0101;
    --secundary-color: #B81515;

    --background-primary-color: #FFFFFF;
    --background-secundary-color: #F5F5F5;
    --background-tertiary-color: #000000;

    --text-primary-color: #222222;
    --text-secundary-color: #FFFFFF; 

    --title-weigth: 700;
    --text-weigth: 400;
    --menu-text-weigth: 500;
}

/* CSS RESET */
body, img, h1, p, fieldset, label, input, select, textarea, button{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: "Montserrat";
    font-weight: var(--title-weigth);
    color: var(--primary-color);
}